body {
    background: #333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.Ribbon {
    display: flex;
    background-color: beige;
    color: black;
    padding: .5em 0em;
    width: 100vw;
}

.Ribbon-Email{
    margin-right: 20px;
    margin-left: auto;
}

.Ribbon a {
    margin-left: 20px;
    color: black;
}

.PageTitle {
    font-size: 5vw;
    color: aliceblue;
    margin-top: 50px;
}

a.AppLink {
    display: inline-block;
    background-color: aliceblue;
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1em;
}

.AppLink:hover {
    background-color: beige;
}

.GameBall {
    width: 25px;
    height: 25px;
    background-color: lightsteelblue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: -100;
}

.GamePaddle {
    width: 30px;
    height: 200px;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -100;
}

.LeftPaddle {
    left: 0;
}

.RightPaddle {
    right:0;
}